* {
    font-family:'Courier New', Courier, monospace;
}
.navbar {
    display: flex;
    padding-left: 5%;
    padding-top: 1%;
    color:black;
}
ul {
    list-style-type: none;
    display: flex;
    width: 40%;
    justify-content: space-around;
    padding-left: 850px;

}

.olist {
    float: right;
    padding-top: 200px;
    padding-right: 100px;
    margin-top: 100px;
    padding: 100px;
    border: 2px solid lightgrey;
    border-radius: 50%;
  
}
.plist {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    background-image: url(images/photo-1483985988355-763728e1935b.jpeg);
    background-size: cover;
    height: 1000px;
    width: 100%;
}
span {
    font-weight: bold;
}
.footer {
    background-color: black;
    color: white;
    padding: 20px;
}
#design {
    flex: auto;
    float: right;
}
@media screen and (min-width: 400px) {
    body {
        background-color:whitesmoke;
        color: black;
    }
}
@media screen and (min-width: 800px) {
    body {
      background-color:lightgray;
    }
  }
  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }
}
